<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name='viewport' content="width=device-with, initial-scale=1.0">
    <title>[[${title}]]</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- este es para la animacion de la pagina a esta va anidada un script que esta en el body -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- este es para enlazar con la libreria de iconos -->
        <script src="https://cdn.lordicon.com/lordicon.js"></script>

    <!-- este es para enlazar con lla libreria de estilos con tailwindcs-->
    <script src="https://cdn.tailwindcss.com"></script>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div th:fragment="navegacion">
    <div class="flex flex-row items-center justify-between mt-5 mb-5 ">
        <div>
            <img th:src="@{images/logoSinFondo.png}"  alt="logo" class=" w-[550px] ml-10 ">
        </div>
        <nav>
            <ul class="flex flex-row gap-6 px-10 py-6 justify-end items-center">

                <li>
                    <a class="font-light border-b-2 border-transparent hover:border-[#EAF205] transition-all duration-300"
                       th:href="@{/}">
                        Inicio
                    </a>
                </li>

                <li>
                    <a class="font-light border-b-2 border-transparent hover:border-[#EAF205] transition-all duration-300"
                       th:href="@{/panelStartups}">
                        Startups
                    </a>
                </li>

                <li>
                    <a class="font-light border-b-2 border-transparent hover:border-[#EAF205] transition-all duration-300"
                       th:href="@{/Convocatorias}">
                        Convocatorias
                    </a>
                </li>

                <li>
                    <a class="font-light border-b-2 border-transparent hover:border-[#EAF205] transition-all duration-300"
                       th:href="@{/blogNoticias}">
                        Blog y Noticias
                    </a>
                </li>

                <li>
                    <a class="text-white bg-[#05A6A6] px-4 py-2 rounded-xl hover:bg-[#048e8e] transition-colors duration-300"
                       th:href="@{/pruebaLogin}">
                        Únete a nosotros
                    </a>
                </li>

            </ul>


        </nav>



    </div>
<!--    <span class=" block mx-auto w-full h-1 bg-[#EAF205] mt-2 rounded"></span>-->



</div>
<footer th:fragment="footer" class="bg-[#232B59]">
    <div class="grid grid-cols-3 gap-5 pt-10 pl-10 pr-10">


        <div>
            <h2 class="text-xl font-bold mb-2 text-white">EmprendeUSTA</h2>
            <p class="text-sm text-white">Acompañamos a emprendedores universitarios con mentoría, incubación y una comunidad activa para convertir ideas en soluciones reales con impacto..</p>
        </div>


        <div>
            <h3 class="text-lg font-semibold mb-3 text-white">Secciones</h3>
            <ul class="flex flex-col ">
                <li><a class="font-thin text-white hover:text-white border-b-2 border-transparent hover:border-b-[#EAF205] transition duration-200" th:href="@{/}">Inicio</a></li>
                <li><a class="font-thin text-white hover:text-white border-b-2 border-transparent hover:border-b-[#EAF205] transition duration-200" th:href="@{/panelStartups}">Startups</a></li>
                <li><a class="font-thin text-white hover:text-white border-b-2 border-transparent hover:border-b-[#EAF205] transition duration-200" th:href="@{/}">Convocatorias </a></li>
                <li><a class="font-thin text-white hover:text-white  border-b-2 border-transparent hover:border-b-[#EAF205] transition duration-200" th:href="@{/blogNoticias}">Blog y Noticias</a></li>

            </ul>
        </div>


        <div>

            <div class="mb-5">
                <h3 class="text-lg font-semibold mb-3 text-white">Síguenos</h3>
                <div class="flex space-x-4 text-2xl">
                    <a href="#" class="text-white hover:text-[#F2F767]"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white hover:text-[#F2F767]"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="text-white hover:text-[#F2F767]"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white hover:text-[#F2F767]"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <h3 class="text-lg font-semibold mb-3 text-white">Contáctanos</h3>

            <ul class="text-sm space-y-2 text-white mb-5">
                <li>📧 contacto@emprendeusta.edu.co</li>
                <li>📍 Tunja, Colombia</li>
            </ul>
        </div>




    </div>


    <div class="mt-2 border-t border-[#F2F767] pt-4 text-center text-sm text-gray-400">
        <p>© 2025 EmprendeUSTA. Todos los derechos reservados.</p>
        <p>Desarrollado por Mariana, Kevin, Cristian y Cesar 💻</p>
    </div>
</footer>


</body>
</html>