<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/layout :: head}"></head>
<body class="font-[Poppins,sans-serif] ">

<header th:replace="~{layout/layout :: navegacionAdmin}"></header>

<section class="py-10 px-20 mt-10">
    <div>
        <div class="flex items-center justify-between mb-2">
            <h2 class="text-xl font-bold text-black">CONVOCATORIAS</h2>
            <button class="bg-[#05A6A6] items-center justify-between    text-white font-bold px-4 py-3 h-10 rounded-full hover:bg-[#40BFBF] transition-all">
                Nueva Convocatoria
            </button>
        </div>
        <hr class="border-t border-purple-300 mb-6" />




        <div class="grid md:grid-cols-1 gap-6">
            <div class="flex bg-white shadow-md rounded-lg overflow-hidden text-black" th:each=" convocatoria : ${convocatorias}">
                <!-- Imagen -->
                <img th:src="@{${convocatoria.fotoConvocatoria}}" alt="Imagen convocatoria"
                     class="w-1/3 object-cover object-center rounded-l-lg" />

                <!-- Contenido a la derecha -->
                <div class="p-4 w-2/3">
                    <h3 class="text-lg font-bold mb-1" th:text="${convocatoria.titulo}">Título</h3>
                    <span class="text-[#05A6A6] text-sm font-semibold mb-2 block" th:text="${convocatoria.estadoConvocatoria}">Activa</span>
                    <p class="text-sm text-gray-600" th:text="${convocatoria.descripcion}">Descripción de la convocatoria</p>
                    <p class="text-sm text-gray-600">Fecha inicio: [[${convocatoria.fechaInicio}]]</p>
                    <p class="text-sm text-gray-600">Fecha fin: [[${convocatoria.fechaFin}]]</p>
                </div>
                <div class="flex items-center justify-between flex-row gap-5 mt-4 ml-auto">
                    <button class="flex items-center justify-between bg-[#05A6A6] text-white font-bold px-4 py-3 h-10 rounded-full hover:bg-[#40BFBF] transition-all"
                            th:action="@{/editarConvocatoria/{id}(id=${convocatoria.idConvocatoria})}">
                        Editar
                    </button>

                    <form th:action="@{/eliminarConvocatoria/{id}(id=${convocatoria.idConvocatoria})}" th:method="post" onsubmit="return confirmarEliminacion(event, this)">
                        <button type="submit"
                                class="flex items-center justify-between bg-[#05A6A6] text-white font-bold px-4 py-3 h-10 rounded-full hover:bg-[#40BFBF] transition-all">
                            Eliminar
                        </button>
                    </form>

                </div>
            </div>
        </div>

</section>

<script>
    window.addEventListener("DOMContentLoaded", function () {
        const toast = document.getElementById("toast-exito");
        if (toast) {
            toast.classList.remove("opacity-0");
            toast.classList.add("opacity-100")
            setTimeout(() => {
                toast.classList.remove("opacity-100");
                toast.classList.add("opacity-0");
            }, 3000)
        }
    })
</script>
<script src="http://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let successMessage = "[[${success}]]";
        if (successMessage && successMessage != "null" && successMessage.trim() != "") {
            Swal.fire({
                icon: "success",
                title: "Success",
                text: successMessage
            });
        }
        //Mensaje de error
        let errorMessage = "[[${error}]]";
        if (errorMessage && errorMessage != "null" && errorMessage.trim() != "") {
            Swal.fire({
                icon: "error",
                title: "Error",
                text: errorMessage
            });
        }

    });

    function confirmarEliminacion(event, form) {
        event.preventDefault();
        Swal.fire({
            title: "¿Estás seguro?",
            text: "Esta acción no se puede deshacer.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#991b1b",
            cancelButtonColor: "#f59e0b",
            confirmButtonText: "Sí, eliminar",
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit();
            }
        });

        return false;
    }
</script>


</body>
</html>