<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-with, initial-scale=1.0">
    <title>Blogs o Noticias</title>
    <!-- este es para enlazar con fuentes externas -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- este es para la animacion de la pagina a esta va anidada un script que esta en el body -->
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">

    <!-- este es para enlazar con la libreria de iconos -->
    <script src="https://cdn.lordicon.com/lordicon.js"></script>

    <!-- este es para enlazar con la libreria de estilos con tailwindcs-->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-[Poppins,sans-serif]">
    <header th:replace="~{layout/layout :: navegacion}"></header>

    <!-- Seccion de las imagenes de diferentes tamaños-->
    <section class="px-6 py-12 max-w-screen-xl max-auto">
        <h2 class="text-2xl font-bold mb-6 border-b-4 border-yellow-400">Ultimas Noticias</h2>
        <div class="grid md:cols-3 gap-4">
            <!-- Tarjeta grande-->
            <div class="relative col-span-1 md:col-span-2 h-96">
                <img th:src="${noticias[0].fotoNoticia}" alt="" class="w-full h-full object-cover rounded-xl">
                <div class="absolute inset-0 bg-black bg-opacity-40 rounded-xl p-6 flex flex-col justify-end text-white">
                    <h3 class="text-xl font-bold mb-2">[[${noticias[0].nombreNoticia}]]</h3>
                    <p class="text-sm mb-2">[[${noticias[0].descripcionNoticia}]]</p>
                    <span class="text-xs italic">[[${#dates.format(noticias[0].fechaCreacion, 'dd MMMM yyyy')}]]</span>
                </div>
            </div>

        </div>
    </section>

<!-- Section de listar las noticias-->
    <section class="grid md:grid-cols-3 gap-6 max-w-screen-lg mx-auto">
        <div class="text-black rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-all mb-6"
             th:each="noticia : ${noticias}">
            <img th:src="${noticia.fotoNoticia}" alt="Imagen de la noticia"
                 class="w-full h-56 object-cover mb-4 rounded-xl">
            <div class="p-6">
                <p class="text-lg font-bold text-gray-800 flex justify-center mb-2">
                    [[${noticia.nombreNoticia}]]
                </p>
                <p class="text-gray-500 text-sm mb-2">
                    [[${noticia.descripcionNoticia}]]
                </p>
                <p class="text-gray-800 text-xs text-left">
                    Fecha: [[${#dates.format(noticia.fechaCreacion, 'dd/MM/yyyy')}]]
                </p>
            </div>
        </div>
    </section>






</body>
</html>