<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-with, initial-scale=1.0">
    <title>Blogs o Noticias</title>
    <!-- este es para enlazar con fuentes externas -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- este es para la animacion de la pagina a esta va anidada un script que esta en el body -->
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">

    <!-- este es para enlazar con la libreria de iconos -->
    <script src="https://cdn.lordicon.com/lordicon.js"></script>

    <!-- este es para enlazar con la libreria de estilos con tailwindcs-->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-[Poppins,sans-serif]">
    <header th:replace="~{layout/layout :: navegacion}"></header>

    // Section de listar las noticias
<section class="w-full grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 ">


</section>

</body>
</html>