<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content="width=device-with, initial-scale=1.0">
    <title>Inicio </title>

    <!-- este es para enlazar con fuentes externas -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- este es para la animacion de la pagina a esta va anidada un script que esta en el body -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- este es para enlazar con la libreria de iconos -->
    <script src="https://cdn.lordicon.com/lordicon.js"></script>

    <!-- este es para enlazar con lla libreria de estilos con tailwindcs-->
    <script src="https://cdn.tailwindcss.com"></script>


</head>
<body class=" font-[Poppins,sans-serif] ">

<header th:replace="~{layout/layout :: navegacion}"></header>


<div class="flex flex-row h-[900px] pl-20 pr-20 ">
    <div class="basis-1/2 flex flex-col justify-center items-center leading-6 ">

        <div class="flex flex-col justify-center  ">
            <div data-aos="fade-right" data-aos-duration="3000">
                <p  class="text-4xl font-bold" >Donde las ideas toman forma y el <br> futuro empieza a construirse.</p>
                <p class="text-4xl text-[#05A6A6] font-bold">Tu idea es el próximo <br>
                    gran cambio. Empieza hoy.</p>
                <p class="text-sm font-light">Startups Tomistas: pequeños comienzos, grandes futuros.”</p>
            </div>
            <br>
            <br>


            <div class="flex flex-row justify-center gap-5 mt-8 items-center pr-20" data-aos="flip-up" data-aos-duration="3000">
                <div class="text-center m-2">
                    <p class="text-4xl font-semibold text-[#F29F05]">+120</p>
                    <p class="font-thin leading-none ">Startups registradas</p>
                </div>
                <div class="text-center border-x border-x-[#000000] m-2">
                    <p class="text-4xl font-semibold text-[#F29F05]">85%</p>
                    <p class="font-thin leading-none">Fundadores son estudiantes activos</p>
                </div>
                <div class="text-center m-2">
                    <p class="text-4xl font-semibold text-[#F29F05]">40%</p>
                    <p class="font-thin leading-none">Proyectos liderados por mujeres</p>
                </div>
            </div>


        </div>



    </div>



    <div class="basis-1/2">

        <div class="grid grid-cols-3 gap-4 m-10" >
            <div class="flex flex-col " >

                <img class=" object-cover  rounded-full overflow-hidden w-[180px] h-[350px]" th:src="@{images/mujer1.jpg}" data-aos="flip-left"
                     data-aos-easing="ease-out-cubic"
                     data-aos-duration="3000">
                <img class="w-[57px] h-[57] ml-[-30px]" th:src="@{images/EllipseN.png}" data-aos="fade-up-right">
                <img class=" object-cover  rounded-full overflow-hidden w-[180px] h-[350px]" th:src="@{images/homnre.jpg}" data-aos="flip-left"
                     data-aos-easing="ease-out-cubic"
                     data-aos-duration="3000">
                <img class="w-[57px] h-[57] mt-5 ml-[150px]" th:src="@{images/EllipseA.png}">
            </div>
            <div class="flex flex-col mt-8 gap-5">
                <img class="w-[57px] h-[57px] ml-[60px] " th:src="@{images/EllipseR.png}" data-aos="fade-up-right">
                <img class=" object-cover  rounded-full overflow-hidden w-[180px] h-[350px]" th:src="@{images/homnre2.jpg}" data-aos="flip-left"
                     data-aos-easing="ease-out-cubic"
                     data-aos-duration="3000">
                <img class=" object-cover  rounded-full overflow-hidden w-[180px] h-[350px]" th:src="@{images/mujer1.jpg}" data-aos="flip-left"
                     data-aos-easing="ease-out-cubic"
                     data-aos-duration="3000">
            </div>
            <div class="flex flex-col  ">
                <img class=" object-cover  rounded-full overflow-hidden w-[180px] h-[350px]" th:src="@{images/mujer2.jpg}" data-aos="flip-left"
                     data-aos-easing="ease-out-cubic"
                     data-aos-duration="3000">
                <img class="w-[57px] h-[57px] ml-[159px] " th:src="@{images/EllipseV.png}" data-aos="fade-up-left">
                <img class=" object-cover  rounded-full overflow-hidden w-[180px] h-[350px]" th:src="@{images/mujer1.jpg}" data-aos="flip-left"
                     data-aos-easing="ease-out-cubic"
                     data-aos-duration="3000">
                <img class="w-[57px] h-[57]" th:src="@{images/EllipseR.png}" data-aos="fade-up-left">
            </div>
        </div>
    </div>
</div>
<section class="bg-[#05A6A6] flex flex-row p-8">
    <div class="mt-10 ml-10">
        <p class="font-thin text-white leading-none text-2xl ">
            ¿Por qué usar <span class="font-bold">EmprendeUSTA?</span>
        </p>
    </div>
    <div class="m-8" data-aos="flip-left" data-aos-duration="3000">
        <lord-icon
                src="https://cdn.lordicon.com/fcyboqbm.json"
                trigger="loop"
                delay="2000"
                stroke="bold"
                colors="primary:#121331,secondary:#eaf205"
                style="width:70px;height:70px">
        </lord-icon>
        <p class="text-white font-bold">Dar visibilidad</p>
        <p class="text-white font-thin ">a tu idea o startup ante la comunidad universitaria y externa.</p>

    </div>
    <div class="m-8" data-aos="flip-left" data-aos-duration="3000">
        <lord-icon
                src="https://cdn.lordicon.com/jdgfsfzr.json"
                trigger="hover"
                stroke="bold"
                state="hover-conversation-alt"
                colors="primary:#121331,secondary:#eaf205"
                style="width:70px;height:70px">
        </lord-icon>
        <p class="text-white font-bold">Acceder a</p>
        <p class="text-white font-thin ">a tu idea o startup ante la comunidad universitaria y externa..</p>

    </div>
    <div class="m-10" data-aos="flip-left" data-aos-duration="3000">
        <lord-icon
                src="https://cdn.lordicon.com/rpviwvwn.json"
                trigger="hover"
                stroke="bold"
                colors="primary:#121331,secondary:#eaf205"
                style="width:70px;height:70px">
        </lord-icon>
        <p class="text-white font-bold">Conectarte a</p>
        <p class="text-white font-thin">con aliados, estudiantes,  mentores y otros emprendedores.</p>

    </div>



</section>
<section class="flex flex-row">
    <div class="basis-1/2 flex flex-col justify-center items-center">
        <div class="relative w-[400px] h-[400px]">
            <img th:src="@{images/personasSeccion3.jpg}" alt="Categorías de startups"
                 class="w-full h-full object-cover rounded-full shadow-lg" />

            <div class="absolute top-4 left-4 bg-[#F29F05] text-white w-24 h-24 rounded-full flex items-center justify-center shadow-md text-center p-5">
                <div  data-aos="flip-left" data-aos-duration="3000">
                    <p class="text-lg font-bold leading-none">5</p>
                    <p class="text-xs leading-none">categorías</p>
                </div>
            </div>
            <img th:src="@{images/cohete.png}" alt="Cohete"
                 class=" absolute bottom-[-20px] right-[-100px] w-[280px] h-auto" data-aos="fade-down-left" data-aos-duration="2000"/>

        </div>
    </div>
    <div class="basis-1/2 flex flex-col justify-center content-center m-20">

       <div class="leading-none">
           <p class="text-2xl text-[#000000]">Algunas de nuestras.</p>
           <p class="text-2xl text-[#F29F05] font-bold">categorías de startups.</p>
       </div>

        <div class="mt-3">
            <p class="text-justify text-base leading-relaxed text-gray-800 mb-10">
                En la Universidad Santo Tomás, la innovación no es solo una meta: es una forma de transformar la realidad.
                Cada una de nuestras startups nace del compromiso con el cambio, la investigación aplicada y el deseo de impactar positivamente a la sociedad.
                <br><br>
                Desde la tecnología que redefine cómo nos comunicamos, hasta propuestas que generan impacto social, económico y ambiental, nuestros emprendedores se atreven a imaginar un futuro diferente… y lo construyen.
            </p>
            <a class="text-[#F29F05] border border-[#F29F05] pt-5 pb-5 pr-10 pl-10 mt-10 transition-transform transform hover:scale-105 hover:bg-[#F29F05] hover:text-white" th:href="@{/startup}">ver Startups</a>

        </div>


    </div>

</section>
<section class="relative flex flex-row bg-[#F2F767] rounded-xl shadow-lg mr-60 ml-60 mb-20 pt-20 pb-20  pl-10 overflow-visible ">
    <!-- Texto -->
    <div class="basis-1/2 z-10">
        <p class="text-3xl text-[#05A6A6] font-semibold">¡Entérate de lo que estamos logrando!</p>
        <p class="font-thin text-sm mt-4">
            En nuestro portal encontrarás noticias frescas sobre nuestros proyectos, logros estudiantiles, eventos Tomasinos y todo lo que mueve nuestra pasión por transformar el mundo. ¡No te lo pierdas!
        </p>
        <a class="bg-[#F29F05] text-white font-bold px-6 py-2 rounded inline-block mt-6 transition-transform transform hover:scale-105 hover:bg-[#d68704]" th:href="@{/blogNoticias}">
            Ver noticias
        </a>
    </div>

    <!-- Contenedor del segundo div + imagen flotante -->
    <div class="basis-1/2 relative flex justify-center items-center">

        <img th:src="@{/images/mujer-libros.png}" alt="Mujer con libros"
             class="absolute top-[-200px] right-[100px] w-[350px] z-20 ">
    </div>
</section>
<section>
    <p class="font-semibold text-2xl text-center text-[#232B59]">Únete a más de 120 emprendedores tomasinos.</p>
    <p class="font-thin text-center text-[#232B59] mb-8 ">“Cada gran empresa comenzó con una <span class="text-[#05A6A6]">idea</span>, pero fue la pasión de quien la creyó lo que la hizo  <span class="text-[#05A6A6]">realidad</span> ”</p>
    <div class="swiper logoSwiper w-full bg-white ">
        <div class="swiper-wrapper items-center">
            <div class="swiper-slide flex justify-center">
                <img th:src=@{images/marca.jpg} class="h-16 object-cover" alt="Logo 1">
            </div>
            <div class="swiper-slide flex justify-center">
                <img th:src=@{images/marca.jpg} class="h-16 object-cover" alt="Logo 2">
            </div>
            <div class="swiper-slide flex justify-center">
                <img th:src=@{images/marca1.png} class="h-16 " alt="Logo 3">
            </div>
            <div class="swiper-slide flex justify-center">
                <img th:src=@{images/marca2.png} class="h-16" alt="Logo 3">
            </div>
            <div class="swiper-slide flex justify-center">
                <img th:src=@{images/marca.jpg} class="h-16" alt="Logo 3">
            </div>
            <div class="swiper-slide flex justify-center">
                <img th:src=@{images/marca.jpg} class="h-16" alt="Logo 3">
            </div>
            <!-- Agrega más logos aquí -->
        </div>
    </div>
</section>
<section class="m-20">
    <div class="flex flex-row justify-center items-center gap-5">
        <p class="text-4xl text-[#232B59] font-semibold mt-8">Emprendedores <br> <span class="text-[#F29F05] font-bold"> Tomasinos </span> </p>
        <p class="mr-30 pt-10 text-justify ">Desde ideas simples hasta soluciones disruptivas, fomentamos el espíritu emprendedor para que surjan startups con propósito, capaces de transformar su entorno, resolver problemas reales y generar un impacto positivo en la sociedad. Creemos en el poder de la innovación colaborativa, el acompañamiento estratégico y la formación integral como base para construir emprendimientos sostenibles y con sentido.</p>
    </div>




</section>
<section>
    <div class="text-center">
        <p class="text-3xl text-[#232B59] font-semibold">Innovación que Inspira a Emprender</p>
        <span class="block mx-auto w-[900px] h-1 bg-[#EAF205] mt-2 rounded"></span>
    </div>

    <p class=" text-[#232B59]  text-center mb-20 ml-20 mr-20 mt-5 ">En la Universidad Santo Tomás creemos firmemente que cada estudiante posee el potencial no solo de innovar, sino también de crear soluciones con impacto real y transformar positivamente su entorno. Por eso, impulsamos espacios donde sus ideas pueden crecer, madurar y convertirse en proyectos que cambian vidas.</p>
    <div class="flex flex-row mt-10 mr-10 ml-10" >
        <div class="basis-1/2">
            <div class="bg-[#F2F767] h-20 m-20  p-20  flex flex-col justify-center items-center rounded-3xl ">
                <p class="text-center text-2xl text-[#4BBFBF]">¿Tienes una idea? </p><br>
                <p class="text-[#F29F05] text-2xl">¡Hazla realidad con nosotros!</p>

            </div>
            <form class="flex flex-col items-center space-y-4 mt-8">

                <input type="text" name="nombre" placeholder="Tu nombre"
                       class="w-full max-w-md px-4 py-2 border  rounded-lg " />

                <input type="email" name="correo" placeholder="correo electronico"
                       class="w-full max-w-md px-4 py-2 border rounded-lg " />



                <button type="submit"
                        class="bg-cyan-400 text-white px-6 py-4 rounded-lg hover:bg-cyan-500 transition">
                    Registrar Startup
                </button>
            </form>
        </div>
        <div class="basis-1/2">
            <img class="w-[700px] h-[600px] " th:src="@{images/mujer-computador.png}">
        </div>
    </div>

</section>
<footer class="bg-[#232B59] h-50">
    <p>soy el footer</p>


</footer>

<!--CARRUCEL-->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    const swiper = new Swiper('.logoSwiper', {
        slidesPerView: 4,
        spaceBetween: 30,
        loop: true,
        autoplay: {
            delay: 0, // sin pausa
            disableOnInteraction: false,
        },
        speed: 3000, // velocidad continua
        grabCursor: false,
    });
</script>




<!--ANIMACIONES-->

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</body>
</html>