<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content="width=device-with, initial-scale=1.0">
    <title>parte incial del sistema </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body class=" font-[Poppins,sans-serif]">


<div>
   <div class="flex flex-row justify-around">
        <div>
            <img src="" alt="logo-pagina">
        </div>
       <nav>
           <ul class="flex flex-row">
               <li><a href="#">Inicio</a></li>
               <li><a href="#">Emprendimientos</a></li>
               <li><a href="#">Blog y Noticias</a></li>
               <li><a href="#">Inicio Sesion </a></li>
               <li><a href="#">Registar Startup</a></li>


           </ul>
       </nav>

   </div>



</div>
<div class="flex flex-row">
    <div class="basis-1/2">

        <div class=" flex flex-col justify-center m-8">
            <p class="text-3xl font-bold">Donde las ideas toman forma y el futuro empieza a construirse.</p>
            <p class="text-2xl text-[#05A6A6] font-bold">Tu idea es el próximo gran cambio. Empieza hoy.</p>
            <p class="text-sm font-light">Startups Tomistas: pequeños comienzos, grandes futuros.”</p>

        </div>
        <iframe  src="https://lottie.host/embed/dce4c934-c2a6-4eaa-abd2-63ff52bfcbc0/KFHY93BlGq.json"></iframe>


    </div>







    <div class="basis-1/2"> segunda seccion
        <div class="grid grid-cols-3 gap-4 m-10">
            <div><a href="https://lordicon.com/">Icons by Lordicon.com</a></div>
            <div>02</div>
            <div>03</div>
        </div>
    </div>
</div>

</body>
</html>