<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content="width=device-with, initial-scale=1.0">
    <title>Login </title>

    <!-- este es para enlazar con fuentes externas -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- este es para la animacion de la pagina a esta va anidada un script que esta en el body -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- este es para enlazar con la libreria de iconos -->
    <script src="https://cdn.lordicon.com/lordicon.js"></script>

    <!-- este es para enlazar con lla libreria de estilos con tailwindcs-->
    <script src="https://cdn.tailwindcss.com"></script>


</head>
<body class=" font-[Poppins,sans-serif]  ">
<div class="flex flex-row items-center justify-start m-5">
    <img th:src="@{images/logoSinFondo.png}"  alt="logo" class=" w-[600px] ml-10 mt-10">
</div>
<div class="flex flex-row h-[300px]">
    <div class="w-[40%] ml-[100px] mt-10 " data-aos="flip-left" data-aos-duration="3000">
        <p class="text-[#05A6A6] text-3xl font-bold">Únete a la comunidad de startups <br>
            <span class="text-[#F29F05] text-3xl font-bold">que están cambiando el mundo</span></p>
        <p  class="text-sm font-thin">Regístrate y haz parte del ecosistema que impulsa ideas con propósito.</p>
        <div class="flex flex-col m-10">

            <input type="text" name="nombre" placeholder="Tu nombre"
                   class=" w-full bg-[#F1F1F1] m-5 p-3" />

            <div class="flex flex-row gap-2">
                <input type="text" name="nombre" placeholder="Tu nombre"
                       class=" w-full bg-[#F1F1F1]" />
                <input type="text" name="nombre" placeholder="Tu nombre"
                       class=" w-full bg-[#F1F1F1]" />
            </div>



            <input type="email" name="correo" placeholder="correo electronico"
                   class=" w-full bg-[#F1F1F1] m-5 p-3  " />



            <button type="submit"
                    class="bg-[#F0F650] text-[#232B59] px-6 py-4  transition">
                Registrar Startup
            </button>
        </div>



    </div>
    <div class="w-[60%]">

        <div class="relative ">
            <!-- Fondo completo -->
            <img th:src="@{images/elipseRegistro.png}" alt="fondo"
                 class="absolute top-[0] right-[0px] h-[600px]"/>





            <img  th:src="@{images/flecha.png}" alt="Dinero" class="absolute top-[-20px] right-[50px] w-[100px] " data-aos="flip-up" data-aos-duration="3000"/>

            <img  th:src="@{images/arco.png}" alt="arco" class="absolute top-[40px] right-[450px] w-[250px]" data-aos="flip-up" data-aos-duration="3000" />


            <img  th:src="@{images/monedas.png}" alt="Dólar" class="absolute top-[300px] right-[480px] w-[200px]" data-aos="flip-up" data-aos-duration="3000"/>
            <img  th:src="@{images/personas.png}" alt="personasLogin" class="absolute top-[80px] right-[10px] h-[520px]" data-aos="flip-up" data-aos-duration="3000"/>


        </div>






    </div>
</div>

<!--ANIMACIONES-->

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>


</body>
</html>