<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
    <body class="font-[Poppins,sans-serif] ">
    <header th:replace="~{layout/layout :: navegacion}"></header>
    <div class="w-full ">
        <iframe
                class="w-full h-[500px]"
                th:src="'https://www.youtube.com/embed/' + ${#strings.substringAfter(startup.video, 'v=')} + '?autoplay=1&mute=1'"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>

    <div th:each="startup : ${startup}"  class="grid grid-cols-8 grid-rows-7 gap-4">
        <div class="col-span-2 row-span-5 col-start-2 bg-[#05A6A6] items-center p-5 grid place-items-center">
            <img th:src="${startup.logo}" class="w-[250px] h-[250px] object-contain object-center bg-white mb-10 mt-5" >
            <div class="grid place-items-start">
                <p class="text-xl text-white font-bold ml-5">Redes sociales</p>
                <div th:each="usuarioRelacionado : ${usuarioRelacionado} " class="m-5 text-white">
                    <p class="font-base" th:text="${usuarioRelacionado.nombreUsuario}"></p>
                    <p class="font-base" th:text="${usuarioRelacionado.correoUsuario}"></p>
                    <p class="font-base" th:text="${usuarioRelacionado.profesionUsuario}"></p>
                    <p class="font-base" th:text="${usuarioRelacionado.Cargo}"></p>

                </div>
            </div>




        </div>
        <div class="col-span-4 row-span-2 col-start-4 pl-10  p-10">
            <p class="text-3xl font-bold" th:text="${startup.nombreStartup}"></p>
            <p th:text="${startup.descripcionStartup}"></p>
        </div>
        <div class="col-span-4 col-start-4 row-start-3 pl-10">
            <p class="font-bold">Propuesta de Valor:</p>
            <p th:text="${startup.propuestaValor}"></p>

        </div>
        <div class="col-span-4 col-start-4 row-start-4 pl-10">
            <p class="font-bold">Problema que resuelve:</p>
            <p th:text="${startup.problematica}"></p>

        </div>
        <div class="col-span-2 row-span-2 col-start-4 row-start-5 pl-10">
            <div th:each="startup : ${startup}" >
                <img th:src="${startup.logo}" class="w-[100px] object-cover" >

            </div>
        </div>
        <div class="col-span-2 row-span-2 col-start-6 row-start-5">
            <div th:each="startup : ${startup}" >
                <img th:src="${startup.logo}" class="w-[100px] object-cover" >

            </div>
        </div>
    </div>






<!--    <h1 th:text="${startup.nombreStartup}">Nombre</h1>-->
<!--    <p><strong>Categoría:</strong> <span th:text="${startup.sectorStartup}"></span></p>-->
<!--    <p><strong>Descripción:</strong> <span th:text="${startup.descripcionStartup}"></span></p>-->
<!--    <p><strong>Emprendedor:</strong> <span th:text="${startup.propuestaValor}"></span></p>-->
<!--    <p><strong>Estado:</strong> <span th:text="${startup.problematica}"></span></p>-->

    <footer th:replace="~{layout/layout :: footer}"></footer>
    </body>
</html>