<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
    <body class="font-[Poppins,sans-serif] bg-[#F1F1F1]">
    <header th:replace="~{layout/layout :: navegacion}"></header>
    <div class="w-full ">
        <th:block th:with="
        video=${startup.video},
        videoId=${#strings.contains(video, 'v=') ?
        #strings.substringAfter(video, 'v=') :
        #strings.contains(video, 'youtu.be/') ?
            #strings.substringAfter(video, 'youtu.be/') : video }">

            <iframe
                    class="w-full h-[500px]"
                    th:src="'https://www.youtube.com/embed/' + ${videoId.split('&')[0]}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </th:block>

    </div>
    <div th:each="startup : ${startup}" class="flex flex-row mx-40 bg-[#FFFFFF] ">
        <div class="w-[20%]">

            <div class="bg-[#05A6A6] flex flex-col items-center h-[480px] w-[250px] ">
                <img th:src="${startup.logo}" class="w-[200px] h-[200px]  mt-5 mb-5 object-contain object-center bg-white " >
                <div class="grid place-items-start px-8">
                    <p class="text-xl text-white font-bold ">Redes sociales</p>
                    <p class=" text-white " th:text="${startup.urlPaginaWeb}"></p>
                    <div class="flex space-x-4 text-2xl">
                        <a href="#" class="text-white hover:text-[#F2F767]"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="text-white hover:text-[#F2F767]"><i class="fab fa-linkedin"></i></a>
                        <a href="#" class="text-white hover:text-[#F2F767]"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-white hover:text-[#F2F767]"><i class="fab fa-youtube"></i></a>
                    </div>

                    <button type="submit"
                            class="bg-[#F2F767] text-[#232B59] text-[14px] px-6 py-4 rounded-lg hover:bg-cyan-500 transition mt-10">
                        contactar con startup
                    </button>


                </div>
            </div>

        </div>
        <div class="w-[80%]">

          <div class="p-10 pr-40 flex flex-col gap-10  text-justify">
              <div>
                  <!--nombre y descripcion de la startup-->
                  <p class="text-3xl font-bold" th:text="${startup.nombreStartup}"></p>
                  <span class="block w-[500px] h-1 bg-[#EAF205] mb-2 rounded-full"></span>
                  <p class="font-base pb-5" th:text="${startup.sectorStartup}"></p>

                  <p th:text="${startup.descripcionStartup}"></p>
              </div>
              <div class="flex flex-row  items-center justify-center gap-10">
                  <div class="rounded-xl bg-[#F2F767] w-[180px] h-[200px] p-4 hover:scale-105 transition-transform duration-300 flex flex-col items-center justify-center">

                      <lord-icon
                              src="https://cdn.lordicon.com/bpmglzll.json"
                              trigger="hover"
                              colors="primary:#e83a30"
                              style="width:80px;height:80px">
                      </lord-icon>
                      <p class="font-bold">Ubicación</p>
                      <p th:text="${startup.ubicacionStartup}"></p>

                  </div>
                  <div class="rounded-xl bg-[#F2F767] w-[180px] h-[200px] p-4 hover:scale-105 transition-transform duration-300 flex flex-col items-center justify-center">

                      <lord-icon
                              src="https://cdn.lordicon.com/xowcggal.json"
                              trigger="loop"
                              state="loop-all"
                              colors="primary:#eeca66,secondary:#bcee66,tertiary:#66d7ee,quaternary:#3a3347"
                              style="width:80px;height:80px">
                      </lord-icon>
                      <p class="font-bold">Etapa</p>
                      <p th:text="${startup.etapaStartup}"></p>

                  </div>
                  <div class=" rounded-xl bg-[#F2F767] w-[180px] h-[200px] p-4 hover:scale-105 transition-transform duration-300 flex flex-col items-center justify-center">

                      <lord-icon
                              src="https://cdn.lordicon.com/nwfpiryp.json"
                              trigger="hover"
                              state="hover-line"
                              colors="primary:#ebe6ef,secondary:#f9c9c0,tertiary:#eeca66,quaternary:#3a3347"
                              style="width:80px;height:80px">
                      </lord-icon>
                      <p class="font-bold">fecha Creacion</p>
                      <p th:text="${startup.fechaCreacion}"></p>

                  </div>




              </div>

              <div>
                  <!--propiesta de valor  de la startup-->
                  <p class="font-bold">Propuesta de Valor:</p>
                  <p th:text="${startup.propuestaValor}"></p>

              </div>
              <div>
                  <!--problema que resuleve  de la startup-->
                  <p class="font-bold">Problema que resuelve:</p>
                  <p th:text="${startup.problematica}"></p>

              </div>

              <div class="w-full text-left mb-6">
                  <p class="text-2xl font-bold text-gray-800">Fundadores</p>
                  <span class="block w-24 h-1 bg-[#EAF205] mt-2 rounded-full"></span>
              </div>

              <div class="flex flex-row flex-wrap gap-4">
                  <!--usuarios relacionados a la startup-->
                  <div th:each="usuarioRelacionado : ${usuarioRelacionado} "
                       class="bg-[#F1F1F1] rounded-xl shadow-md flex flex-col items-center justify-center w-[250px] h-[400px] p-4 hover:scale-105 transition-transform duration-300">

                      <img th:src="${usuarioRelacionado.imagenUsuario}"
                           class="w-[150px] h-[150px] rounded-full object-cover mb-4"
                           alt="Foto del usuario" />

                      <p class="font-base text-black text-center" th:text="${usuarioRelacionado.nombreUsuario}"></p>
                      <p class=" fomfont-base text-black text-center break-words" th:text="${usuarioRelacionado.correoUsuario}"></p>
                      <p class="font-base text-black text-center" th:text="${usuarioRelacionado.profesionUsuario}"></p>
                      <p class="font-base text-black text-center" th:text="${usuarioRelacionado.cargo}"></p>
                      <div class="flex flex-row justify-center items-center">
                          <a class="bg-[#05A6A6] text-white font-bold px-6 py-2 rounded inline-block mt-6 transition-transform transform hover:scale-105 hover:bg-[#d68704]" th:href="@{'/usuario/' + ${usuarioRelacionado.idUsuario}}">
                              ver mas info
                          </a>

                      </div>
                  </div>

              </div>
          </div>



        </div>

    </div>
















    <footer th:replace="~{layout/layout :: footer}"></footer>
    </body>
</html>