<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
    <body class="font-[Poppins,sans-serif] ">
    <header th:replace="~{layout/layout :: navegacion}"></header>
    <div class="w-full ">
        <iframe
                class="w-full h-[500px]"
                th:src="'https://www.youtube.com/embed/' + ${#strings.substringAfter(startup.video, 'v=')} + '?autoplay=1&mute=1'"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>
    <div th:each="startup : ${startup}" class="flex flex-row mx-40 ">
        <div class="w-[20%]">

            <div class="bg-[#05A6A6] flex flex-col items-center h-[450px]">
                <img th:src="${startup.logo}" class="w-[150px] h-[150px] object-contain object-center bg-white mb-5 mt-5 " >
                <div class="grid place-items-start">
                    <p class="text-xl text-white font-bold ml-5">Redes sociales</p>

                </div>
            </div>

        </div>
        <div class="w-[80%]">

          <div class="p-10 pr-40 flex flex-col gap-10  text-justify">
              <div>
                  <!--nombre y descripcion de la startup-->
                  <p class="text-3xl font-bold" th:text="${startup.nombreStartup}"></p>
                  <p th:text="${startup.descripcionStartup}"></p>
              </div>

              <div>
                  <!--propiesta de valor  de la startup-->
                  <p class="font-bold">Propuesta de Valor:</p>
                  <p th:text="${startup.propuestaValor}"></p>

              </div>
              <div>
                  <!--problema que resuleve  de la startup-->
                  <p class="font-bold">Problema que resuelve:</p>
                  <p th:text="${startup.problematica}"></p>

              </div>

              <div class="w-full text-left mb-6">
                  <p class="text-2xl font-bold text-gray-800">Fundadores</p>
                  <span class="block w-24 h-1 bg-[#EAF205] mt-2 rounded-full"></span>
              </div>

              <div class="flex flex-row flex-wrap gap-4">
                  <!--usuarios relacionados a la startup-->
                  <div th:each="usuarioRelacionado : ${usuarioRelacionado} "
                       class="bg-[#F1F1F1] rounded-xl shadow-md flex flex-col items-center justify-center w-[250px] h-[300px] p-4 hover:scale-105 transition-transform duration-300">

                      <img th:src="${usuarioRelacionado.imagenUsuario}"
                           class="w-[150px] h-[150px] rounded-full object-cover mb-4"
                           alt="Foto del usuario" />

                      <p class="font-base text-black text-center" th:text="${usuarioRelacionado.nombreUsuario}"></p>
                      <p class="font-base text-black text-center break-words" th:text="${usuarioRelacionado.correoUsuario}"></p>
                      <p class="font-base text-black text-center" th:text="${usuarioRelacionado.profesionUsuario}"></p>
                      <p class="font-base text-black text-center" th:text="${usuarioRelacionado.cargo}"></p>
                  </div>

              </div>
          </div>



        </div>

    </div>
















    <footer th:replace="~{layout/layout :: footer}"></footer>
    </body>
</html>